/* SERVICES */

#container2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align content to the left */
    justify-content: flex-start; /* Align content to the top */
    width: 100%; /* Ensure full width */
    height: 65vh; /* Adjust height dynamically based on content */
    background-image: url(../public/images/wash6.jpg);
    background-position: 100% 60%; /* Horizontal center and vertical bottom */
    background-repeat: no-repeat;
    background-size: auto 200%; /* Scale image to double its height */
    padding-left: 5%;
}


.services {
    display: flex;
    flex-direction: column; /* Stacks sections vertically */
    align-items: flex-start; /* Align items to the left */
    gap: 2rem; /* Adds space between sections */
    width: 100%; /* Take up full width of the container */
}

  
 .services .cta-buttons {
    display: flex;
    flex-direction: row; /* Aligns buttons side by side */
    gap: 1rem; /* Adds space between buttons */
    justify-content: center; /* Align buttons to the left */
    margin-top: 1rem; /* Adds space between mission section and CTA buttons */
    margin-left: 15%;
  }
 
 .services .cta-button:hover {
    background-color: #0056b3;
  }
  
  .services h1 {
    font-size: 2.5rem;
    color: red;
    display: flex;
    color: #007BFF;
    margin-left: 10%;
    align-self: flex-start;
  }
    .services p {
      font-size: 1.5rem;
      margin-bottom: 30px;
      color: white;
      font-weight: bolder;
    }
    
    .services button {
      padding: 10px 20px;
      font-size: 1rem;
      background-color: #007BFF;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
     display: flex;
     align-self: center;
    }
    

    .mission2 {
        background-color: #007BFF;
        width: 40vw; /* Make it responsive to the container's width */
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center; /* Align content to the left */
        gap: 1rem;
        padding: 1rem; /* Add padding for better spacing */
        margin-left: 10 !important;
    }
    
  
    .cta-buttons {
        display: flex;
        flex-direction: row;
        justify-content: flex-start; /* Align buttons to the left */
        gap: 1rem;
        margin: 1rem 0;
        margin-top: -.5% !important; 
    }
    
  