/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  /* Body and Layout */
  body {
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
  }
  
  
.nav {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


  #home, #contact, #donations, .services {
    height: 66.2vh;
  }
  
  